In [1]:
import pandas as pd
import json

# Read JSON data with specified encoding
# with open('response_1716142366470.json', encoding='utf-8') as json_file: data = json.load(json_file)

# Convert JSON data to DataFrame
# df = pd.DataFrame(data)

# Save DataFrame to Excel file
# df.to_excel('output.xlsx', index=False)

In [2]:
five = []
three = []
random = []

for i in range(1,50):
    if i % 5 == 0: five.append(i)
    elif i % 3 == 0: three.append(i)
    else: random.append(i)
    
print(five, three, random)

[5, 10, 15, 20, 25, 30, 35, 40, 45] [3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48] [1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49]

In [4]:
d = pd.read_csv('test_data.csv')
d.head()

,ref_no,children,age_band,status,occupation,occupation_partner,home_status,self_employed,self_employed_partner,year_last_moved,...,investment_tax_saving_bond,home_loan,online_purchase_amount,discount_offering,gender,region,investment_in_commudity,investment_in_equity,investment_in_derivative,portfolio_balance
0,1,Zero,51-55,Partner,Manual Worker,Secretarial/Admin,Own Home,No,No,1972,...,19.99,0.00,0.00,1,Female,Wales,74.67,18.66,32.32,89.43
1,2,Zero,55-60,Single/Never Married,Retired,Retired,Own Home,No,No,1998,...,0.00,0.00,0.00,2,Female,North West,20.19,0.00,4.33,22.78
2,3,Zero,26-30,Single/Never Married,Professional,Other,Own Home,Yes,No,1996,...,0.00,3.49,0.00,2,Male,North,98.06,31.07,80.96,171.78
3,5,Zero,18-21,Single/Never Married,Professional,Manual Worker,Own Home,No,No,1997,...,0.00,0.00,0.00,2,Female,West Midlands,4.10,14.15,17.57,-41.70
4,6,Zero,45-50,Partner,Business Manager,Unknown,Own Home,No,No,1995,...,0.00,45.91,25.98,2,Female,Scotland,70.16,55.86,80.44,235.02